<ion-header>
  <ion-toolbar>
    <ion-title>Add users to server</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Select server">
        <ion-select-option value="1">Server 1</ion-select-option>
        <ion-select-option value="2">Server 2</ion-select-option>
        <ion-select-option value="3">Server 3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
