<ion-header>
  <ion-toolbar>
    <ion-title>Server Vault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cardInfo; let i = index">
    <ion-card-header>
      <ion-card-title>{{ card.title }} - {{i+1}}</ion-card-title>
      <ion-card-subtitle>{{ card.ip }} - {{ card.hostname}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ card.notes }}</p>
      <ng-container
        *ngIf="card.users && card.users.length > 0; else noUsersFound"
      >
        <ng-container *ngFor="let user of card.users">
          <p>User:{{ user.user }}</p>
          <p>
            Password:
            <span *ngIf="passwordVisibility[i+1]">{{ user.password }}</span>
            <span *ngIf="!passwordVisibility[i+1]">**********</span>
            <ion-button
              ion-button
              icon-only
              (click)="togglePassword(i+1)"
              size="small"
            >
              <ion-icon
                name="{{ passwordVisibility[i+1] ? 'eye-off' : 'eye' }}"
              ></ion-icon>
            </ion-button>
          </p>
          <p>Duedate: {{ user.duedate }}</p>
        </ng-container>
      </ng-container>
      <ng-template #noUsersFound>
        <p>No se encontraron usuarios para este servidor</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!--   <ion-card *ngFor="let card of cardInfo;let idx=index">
    <ion-card-header>
      <ion-card-title>{{ card.title }} - {{idx+1}}</ion-card-title>
      <ion-card-subtitle>{{ card.ip }} - {{ card.hostname}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ card.notes }}</p>
      <p>User:{{ card.user }}</p>
      <p>
        Password:
        <span *ngIf="passwordVisibility[idx+1]">{{ card.password }}</span>
        <span *ngIf="!passwordVisibility[idx+1]">**********</span>
        <ion-button
          ion-button
          icon-only
          (click)="togglePassword(idx+1)"
          size="small"
        >
          <ion-icon
            name="{{ passwordVisibility[idx+1] ? 'eye-off' : 'eye' }}"
          ></ion-icon>
        </ion-button>
      </p>
      <p>Duedate: {{ card.duedate }}</p>
    </ion-card-content>
  </ion-card> -->

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/server-user">
        <ion-icon name="terminal-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/servers">
        <ion-icon src="../../../assets/icon/cpu-server-icon.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
