<ion-header>
  <ion-toolbar>
    <ion-title>Server Vault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cardInfo">
    <ion-card-header>
      <ion-card-title>{{ card.title }}</ion-card-title>
      <ion-card-subtitle>{{ card.ip }} - {{ card.hostname}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ card.notes }}</p>
      <p>User:{{ card.user }}</p>
      <p>
        Password:
        <span *ngIf="showPassword">{{ card.password }}</span>
        <span *ngIf="!showPassword">**********</span>
        <ion-button
          ion-button
          icon-only
          (click)="togglePassword()"
          size="small"
        >
          <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}"></ion-icon>
        </ion-button>
      </p>
      <p>Duedate: {{ card.duedate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/server-user">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/servers">
        <ion-icon name="tv-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
